{% extends "meals/base.html.j2" %}
{% load i18n sass_tags %}

{% block title %}{% trans "PDF Preview" %} - {{ plan.name }}{% endblock %}

{% block extra_css %}
<link rel="stylesheet" href="{% sass_src 'meals/scss/mealplan_preview.scss' %}">
{% endblock %}

{% block content %}
<div class="preview-wrapper">
    <iframe src="{% url 'meal-plan-preview-content' plan.id %}" class="preview-frame"></iframe>
</div>
{% endblock %}
