{% extends 'meals/base.html.j2' %}
{% load static i18n sass_tags %}

{% block title %}{{ plan_id }} | Meal Plan Detail{% endblock %}

{% block extra_css %}
    <link rel="stylesheet" href="{% sass_src 'meals/scss/mealplan_detail.scss' %}">
{% endblock %}

{% block content %}
    <div
        id="meal-plan-detail-app"
        data-plan-id="{{ plan_id }}"
        data-csrf-token="{{ csrf_token }}"
        data-nutrients='{{ nutrients_json }}'
        data-i18n='{{ i18n_json }}'
        data-pdf-url="{{ pdf_url }}"
        data-preview-url="{{ preview_url }}"
        data-plan-list-url="{{ plan_list_url }}"
    ></div>
{% endblock %}

{% block extra_js %}
{% load django_vite %}
{% vite_asset 'frontend/src/mealplan-detail/main.ts' %}
{% endblock %}
