{% extends 'meals/base.html.j2' %}
{% load static i18n sass_tags %}

{% block title %}{% trans "Threshold Preset Editor" %} | Meal Plan Analyzer{% endblock %}

{% block extra_css %}
    <link rel="stylesheet" href="{% sass_src 'meals/scss/threshold_preset.scss' %}">
{% endblock %}

{% block content %}
<div class="container preset-editor-page-container">
    <div
        id="threshold-preset-editor-app"
        data-preset-id="{{ preset_id }}"
        data-csrf-token="{{ csrf_token }}"
        data-nutrients='{{ nutrients_json }}'
        data-i18n='{{ i18n_json }}'
        data-preset-list-url="{{ preset_list_url }}"
    ></div>
</div>
{% endblock %}

{% block extra_js %}
{% load django_vite %}
{% vite_asset 'frontend/src/threshold-preset-editor/main.js' %}
{% endblock %}
